---
layout: default
---
<!-- page.html -->
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-description">{{ page.description }}</p>
  </header>

  <div class="gallery">
    {% assign unique_images = "" %}
    {% for image in site.static_files %}
      {% if image.path contains '/assets/img/gallery' %}
        {% assign image_name = image.path | split: '/' | last %}
        {% unless unique_images contains image_name %}
          {% assign unique_images = unique_images | join: "|" | append: "|" | append: image_name %}
          <img src="{{ site.baseurl }}{{ image.path }}" alt="{{ image_name }}" class="responsive-image">
        {% endunless %}
      {% endif %}
    {% endfor %}
  </div> 

</div>
